<div class="main-nav">
  <ul>
    <a href="/" {% if page.url == '/index.html' %}class='active'{% endif %}>Current</a>
    <a href="/past" {% if page.url == '/past/' %}class='active'{% endif %}>Past</a>
    <a href="/news" {% if page.url == '/news/' %}class='active'{% endif %}>News</a>
  </ul>

  <!-- <form action="/search.html" method="get">
    <label for="search_box">Search</label>
    <input type="text" id="search_box" name="query">
    <input type="submit" value="search">
  </form> -->
</div>
